/*Christian Howell*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GOOGLE FONTS */
@import url('https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat');

/* root element : Wunderlust Majorca Branding */
:root {
  --yellow: #f6d64a
  --teal: #55bcd5
  --purple: #9b26b0
  --blue: #499bd2
  --dark gray: #222222
  --light gray: #eaeaea
  --white: #ffffff
  --black: #000000
 --font-type: monsterrat /*h4,p,q, small, nav, button, form*/
 --font-type: molle /*(h1, h2, h3)*/
}

/*skip link content*/
/*styling skip links: https://webaim.org/techniques/css/invisiblecontent */
#skip{
    position: absolute;
    left: -10000px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
#skip a:focus{
    position: static;
    width: auto;
    height: auto;
}
/*hidden but accessible headings from: https://webaim.org/techniques/css/invisiblecontent */
.sr-only{
    position: absolute;
    left:after;
    top:after;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/* Global Styles*/
body{
    line-height: 1.3;
}
main{
    background-color: var(--white);
}
header{
width:100%;
display: flex;
background-color:gra;
padding:0 1rem;
}
#logo{
    padding:0;
}
h4,p,q, small, nav, button, form{
 font-weight: lighter;
 font-family: monsterrat;
}

h1, h2, h3{
    font-weight: lighter;
    font-family: molle; 
}
nav a:hover .active{
    background-color: var(--yellow);
}
/* MENU (NAV) STYLES */
/*responsive menu code from (with changes made to match mockups): https://css-tricks.com/three-css-alternatives-to-javascript-navigatio */
#menu-toggle{
display:block;
position:relative;
top: 50px;
left: 50px;
z-index:1;
}

#menu-toggle label{
display:block;
position:relative;
top: 30px;
left: 30px;
}

#menu-toggle label {
    display:none;

}

#menu-toggle label div{
display:block;
position:relative;
width: 30px;
height: 2px;
z-index:1;
}
/* SECTION STYLES INTRO*/
#intro{
    background-color:var(--teal);
}


/* SECTION STYLES PLAN*/
#plan{
    background-color: var(--yellow);
}
#plan img {
    background-color: var(--teal)
}

/* SECTION STYLES TESTIMONIALS*/



/* SECTION STYLES ABOUT*/
#about{
    background-color:var(--blue);
}


/* SECTION STYLES CONTACT*/
form{
    display: flex;
    width:auto;
    padding: 1em;
    margin: auto;

}

/*FORM STYLES:: INPUT STYLES */
/*custom input styles from https://moderncss.dev/custom-css-styles-for-form-inputs-and-textareas */
input[ type=text], fname, lname, select, textarea{
    width:100%;
    padding:0%;
    border: 1px solid var(--purple);
    border-radius: 2px;
    box-sizing: border-box;
}

label{
    padding: 6px 6px 6px 0;
    display: inline-block;
}
fieldset{
    display: flex;
    margin: auto;
}
fieldset input{
    display: flex;
    height: auto;
}
/*FORM STYLES:: RADIO STYLES */
/* custom radio button styles from https://moderncss.dev/pure-css-custom-styled-radio-buttons*/



/*FORM STYLES:: SELECT STYLES */
/*custom select styles from: https://moderncss.dev/custom-select-styles-with-pure-css */

/*FOOTER*/
footer{
    background-color:var(--light gray) ;
    width: 100%;
}

/* Mobile first Styles*/

@media screen and (min-width: 320px){
header{
    display:flex;
}
    header img{
        margin:0 1em;
    }
    h1{
        margin:0;
        font-size: 2em;
        display:flex;
    }
    nav{
        margin-top: 1em;
        display: flex;
        background-color: var(--teal);
    }
    nav ul{
        display:flex;
    }
    #intro div{
        display:flex;
    }
  #plan div{
        display:flex;
    }
				#testimonials div{
        display:flex;
    }
					#about div{
        display:flex;
    }
					#contact div{
        display:flex;
    }
						#nums div{
        display:flex;
    }
} 


/* Medium Screen Styles*/
@media screen and (min-width: 858px){
header{
    display:flex;
}
h1{
    text-align:center;
    display: flex;
}
nav{
    max-width:600px;
}
nav, nav ul, nav li{
    background-color: var(--white)
}
nav{
    margin-top: 1em;
    display: flex;
    background-color: var(--teal);
}
nav ul{
    display:flex;
}
#intro div{
    display:flex;
}

  #plan div{
        display:flex;
    }
				#testimonials div{
        display:flex;
    }
					#about div{
        display:flex;
    }
					#contact div{
        display:flex;
    }
						#nums div{
        display:flex;
    }
}


/* Large Screen Styles*/
@media screen and (min-width: 1000px){
    h1{
        margin:0;
        font-size: 2em;
        display:flex;
    }
    nav{
        margin-top: 1em;
        display: flex;
        background-color: var(--teal);
    }
    nav ul{
        display:flex;
    }
  


}








